server/projects/kikbak/schema/kikbak.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="com:kikbak:jaxb"
    xmlns:kikbak="com:kikbak:jaxb" xmlns:tns="com:kikbak:jaxb"
    elementFormDefault="qualified">

    <!-- Status of response. The element optionally contains a message. -->
    <xsd:complexType name="StatusType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <!-- Response status code: 0 = OK; 1 = Error -->
                <xsd:attribute name="code" type="xsd:int" />
                <xsd:attribute name="version" type="xsd:string" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <!-- Response that only contains the status of the request -->
    <xsd:element name="StatusResponse">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="kikbak:StatusType">
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <!--  Client API -->
    <xsd:complexType name="UserType">
        <xsd:sequence>
            <xsd:element name="email" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="first_name" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="gender" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1" />
            <xsd:element name="last_name" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="link" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="locale" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="timezone" type="xsd:int" minOccurs="1" maxOccurs="1" />
            <xsd:element name="updated_time" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="username" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="verified" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>    
    </xsd:complexType>
    
    <xsd:complexType name="UserIdType">
        <xsd:sequence>
            <xsd:element name="userId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="RegisterUserRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="user" type="kikbak:UserType" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="RegisterUserResponse">
	   <xsd:complexType>
	       <xsd:sequence>
	           <xsd:element name="userId" type="kikbak:UserIdType" minOccurs="1" maxOccurs="1"/>
	           <xsd:element name="status" type="kikbak:StatusType" minOccurs="1" maxOccurs="1"/>
	       </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="FriendType">
        <xsd:sequence>
            <xsd:element name="first_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="last_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="username" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="UpdateFriendsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="friends" type="kikbak:FriendType" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>   
    
    <xsd:element name="UpdateFriendResponse">
        <xsd:complexType>
           <xsd:sequence>
               <xsd:element name="status" type="kikbak:StatusType" minOccurs="1" maxOccurs="1"/>
           </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="ClientLocationType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="latitude" type="xsd:double" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="longitude" type="xsd:double" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ClientMerchantType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="locations" type="kikbak:ClientLocationType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    
    <xsd:complexType name="KikbakType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="merchant" type="kikbak:ClientMerchantType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="value" type="xsd:double" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="GiftType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="merchant" type="kikbak:ClientMerchantType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="value" type="xsd:double" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="RewardsRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="RewardsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="kikbaks" type="kikbak:KikbakType" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="gifts" type="kikbak:GiftType" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="status" type="kikbak:StatusType" minOccurs="1" maxOccurs="1"/> 
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="GiftRedemptionType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="locationId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="verificationCode" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="KikbakRedemptionType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="locationId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="amount" type="xsd:double" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="verificationCode" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="RedeemGiftRequest">
	    <xsd:complexType>
	            <xsd:sequence>
	                <xsd:element name="gift" type="kikbak:GiftRedemptionType" minOccurs="1" maxOccurs="1"/>  
	            </xsd:sequence>
	        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="RedeemGiftResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="status" type="kikbak:StatusType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="authorizationCode" type="xsd:string" minOccurs="1" maxOccurs="1"/> 
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="RedeemKikbakRequest">
        <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="kikbak" type="kikbak:KikbakRedemptionType" minOccurs="1" maxOccurs="1"/>  
                </xsd:sequence>
            </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="RedeemKikbakResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="status" type="kikbak:StatusType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="authorizationCode" type="xsd:string" minOccurs="1" maxOccurs="1"/> 
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="sharedType">
        <xsd:sequence>
            <xsd:element name="locationId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="merchantId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="offerId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="friendFacebookId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="ShareExperienceRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="experience" type="kikbak:sharedType" minOccurs="1" maxOccurs="1"/> 
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="ShareExperienceResponse">
        <xsd:complexType>
           <xsd:sequence>
	           <xsd:element name="status" type="kikbak:StatusType" minOccurs="1" maxOccurs="1"/> 
	       </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="ConactInfoType">
        <xsd:sequence>
            <xsd:element name="firstName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="lastName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="phoneNumber" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <!-- Admin Interface -->
    <xsd:complexType name="AccountType">
        <xsd:sequence>
            <xsd:element name="email" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="password" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
        
    <xsd:element name="RegistrationRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="accountInfo" type="kikbak:AccountType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="contactInfo" type="kikbak:ConactInfoType" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="RegistrationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="status" type="kikbak:StatusType" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="TokenType">
        <xsd:sequence>
            <xsd:element name="token" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="AuthenticationRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="accountInfo" type="kikbak:AccountType" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="AuthenticationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="token" type="kikbak:TokenType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="status" type="kikbak:StatusType" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="LocationType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="address1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="address2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="city" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="state" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="zipCode" type="xsd:int" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="longitude" type="xsd:double" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="latitude" type="xsd:double" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="merchantId" type="xsd:long" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="verificationCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="MerchantType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="graphPath" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="url" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="imageUrl" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="locations" type="kikbak:LocationType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="AddMerchantRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="token" type="kikbak:TokenType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="merchant" type="kikbak:MerchantType" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="AddMerchantResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="status" type="kikbak:StatusType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="merchant" type="kikbak:MerchantType" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
        
    <xsd:element name="AddLocationRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="token" type="kikbak:TokenType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="location" type="kikbak:LocationType" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="AddLocationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="status" type="kikbak:StatusType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="location" type="kikbak:LocationType" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
        
    <xsd:element name="GetMerchantsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="token" type="kikbak:TokenType" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>    
    
    <xsd:element name="GetMerchantsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="merchants" type="kikbak:MerchantType" minOccurs="1" maxOccurs="unbounded"/>
                <xsd:element name="status" type="kikbak:StatusType" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="OfferLocationType">
        <xsd:sequence>
            <xsd:element name="locationId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="latitude" type="xsd:double" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="longitude" type="xsd:double" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    
    <xsd:complexType name="OfferType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="defaultText" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="giftName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="giftDescription" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="giftValue" type="xsd:double" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="kikbakName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="kikbakDescription" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="kikbakValue" type="xsd:double" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="merchantId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="locations" type="kikbak:OfferLocationType" minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="beginDate" type="xsd:long" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="endDate" type="xsd:long" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="AddOfferRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="token" type="kikbak:TokenType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="offer" type="kikbak:OfferType" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="AddOfferResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="status" type="kikbak:StatusType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="offer" type="kikbak:OfferType" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="GetOffersRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="token" type="kikbak:TokenType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="merchant" type="kikbak:MerchantType" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="GetOffersResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="status" type="kikbak:StatusType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="offers" type="kikbak:OfferType" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="UserLocationType">
        <xsd:sequence>
            <xsd:element name="longitude" type="xsd:double" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="latitude" type="xsd:double" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="GetUserOffersRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="userLocation" type="kikbak:UserLocationType" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="GetUserOffersResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="status" type="kikbak:StatusType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="offers" type="kikbak:OfferType" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="DeviceTokenType">
        <xsd:sequence>
            <xsd:element name="token" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="platform_id" type="xsd:short" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType> 
    
    <xsd:element name="DeviceTokenUpdateRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="user" type="kikbak:UserIdType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="token" type="kikbak:DeviceTokenType" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>       
    
    
    <xsd:element name="DeviceTokenUpdateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="status" type="kikbak:StatusType" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <!-- Push notification -->
    <xsd:complexType name="ApsType">
            <xsd:sequence>
                <xsd:element name="alert" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="badge" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="sound" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="AppleNotificationPayload">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="aps" type="kikbak:ApsType" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
</xsd:schema>
